.custom-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  flex: 25%;
  padding: 12px 0;
  min-height: 48px;
  min-width: 300px;

  gap: 8px;
  margin: 0px;
  font-size: 16px;
  font-weight: 500;

  background-color: #000000;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #a0cefd;
  border: none;
  /*border-color: #1f1c1c;*/
}
.custom-button:active {
  background-color: #d0d0d0;
  border: none;
  transform: scale(0.95);
}

.button-icon {
  margin-right: 8px;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}
.button-label {
  line-height: 1;
}

@media (min-width: 500px) and (max-width: 1024px) {
  .custom-button {
    gap: 4px;
    padding: 10px 16px;
    min-width: 80px;
    font-size: 14px;
  }
  html {
    font-size: 62.5%;
  }
}

@media (min-width: 100px) and (max-width: 500px) {
  .custom-button {
    gap: 2px;
    padding: 0 8px;
    min-width: 30px;
    font-size: 12px;
  }
  html {
    font-size: 50%;
  }
}
