.custom-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 256px;
  height: 68px;

  margin: 5px;
  font-size: 16px;
  font-weight: 500;

  background-color: #000000;
  border: 1px solid #ccc;
  color: #ffffff;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #a0cefd;
  border-color: #1f1c1c;
}

.custom-button:active {
  background-color: #d0d0d0;
  transform: scale(0.98);
}

.button-icon {
  margin-right: 8px;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}

.button-label {
  line-height: 1;
}
