.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  width: 100vw;
  height: 100vh;
  background-color: #80807f;
  font-family: 'Inter', sans-serif;
}
.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.logo {
  margin-bottom: 40px;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;

  background-color: #ffffff;
  color: #555555;

  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 30px;
}
.google-logo-btn {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
