.update-container {
  width: 100%;
  height: 100%;

  align-items: flex-end;
  justify-content: center;
  gap: 20px;
}
.username {
  font-size: 80px;
  font-weight: 900;
  padding-left: 60px;
  padding-top: 20px;

  justify-content: center;
  letter-spacing: -1px;
  color: #f0f0f0;
}
.user-greeting {
  font-size: 80px;
  font-weight: 900;

  justify-content: center;
  letter-spacing: -1px;
  color: #6399bd;
}

.panel {
  background: #4f5660;
  border-radius: 24px;
  padding: 24px;

  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 35%;
  min-width: 320px;
  height: 60%;
  box-sizing: border-box;
}

.section-title {
  margin: 0 0 10px 0;
  color: #ccc;
  font-size: 1.1rem;
  font-weight: 600;
  align-content: center;
}
.section-title span {
  font-size: 0.8rem;
  opacity: 0.6;
  margin-left: 5px;
}
