.app-container {
  background-color: #0d0e0f;
  height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /*margin: 0;*/
  padding-bottom: 40px;
}

.nav-bar {
  display: flex;
  background-color: #2b2c2e;
  padding: 7px 16px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  gap: 10px;
}
