* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app-container {
  background-color: #0d0e0f;
  width: 100dvw;
  min-height: 100dvh;
  display: flex;
  margin: auto;
  align-items: center;
}
.nav-bar {
  left: 50%;
  transform: translateX(-50%);
  bottom: 2.4rem;

  width: 102.4rem;
  height: 6.8rem;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: #000000;
  border-radius: 1.6rem;
  padding: 0 4rem;
}
