/* 기본 여백 초기화 */
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #f5f6f8;
  /* 배경색 통일 */
}

.app-container {
  width: 100%;
  height: 100vh;
  /* 화면 높이를 꽉 채움 */
  display: flex;
  flex-direction: column;
}

/* 스크롤바 커스텀 (선택사항) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}