* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  position: relative;
  height: 1024px;
  width: 1440px;
  background-color: #000000;

  display: flex;
  margin: auto;
  align-items: center;
}

.nav-bar {
  position: absolute;
  width: 1024px;
  height: 68px;
  top: 841px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;

  justify-content: space-around;
  background-color: #000000;
  border-radius: 16px;
  padding: 0 40px;
}
