* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app-container {
  background-color: #0d0e0f;
  width: 100dvw;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
}
.nav-bar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  width: 90vw;
  height: 56px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}
